html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  align-content: center;
}
body {
margin: 0;
display:block;
line-height: 1.4rem;
align-content: center;

}
header {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background-image: url(../images/glasses.jpg);
  background: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
  padding-top: 1rem;
}
div {
  border: solid 0.25rem black;
}

.universal {
  display: flex;
  margin-top: 1rem;
  height: auto;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  max-width: 960px;
  margin-top: 1rem;
  margin-left: 10rem;
  height: auto;
  }
nav.img {
  height: 1.5rem;
  margin-right: 1rem;
  border: none;
}
.image1 {
display: flex;
align-items:center;
margin-left: 2rem;
align-items: center;
}
li {
  display: inline;
  padding: 1rem 2rem;
}
.block {
  display: flex;
  justify-content: flex-end;
}
.headline {
  background-color: white;
  padding: 1.5rem 5rem 1.5rem 5rem;
  color: black;
  margin-top: 10rem;
  margin-right: 2rem;
  }
h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: Helvetica;
  line-height: 1.2;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  margin-left: 20rem;
}
.middle {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:3.5rem;
  height: 8rem;
}
.paper {
  width: 3.5rem;
}
.middle img {
  margin-bottom: 1rem;
}
h3 {
  font-size: 1rem;
}
.philosophy {
  display: flex;
  flex-direction: row;
  margin-left: 15rem;
}
.bottom {
  width: 35%;
  margin-bottom:5rem;
  margin-right: 5%;
}
.notice {
  font-family: helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}




@media only screen and (min-width: 700px ) {
  .shrunken-menu {
    display: none;
  }
}
